<div class="search">
    <div *ngIf="loading$ | async" class="search__loader">
        <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
    </div>

    <div class="filters">
        <div class="search__header">
            <label for="search-term">Name </label>
            <input class="form-control" 
              id="search-term" 
              type="text" 
              (change)="searchValueChanged(searchTerm)"
              [(ngModel)]="searchTerm"
              />
        </div>
    
        <form [formGroup]="filterForm">
            <div class="form-group">
              <label for="films">Film</label>
              <select id="films" formControlName="film" class="form-control">
                <option [ngValue]="''"></option>
                <option *ngFor="let film of films$ | async" [ngValue]="film">
                  {{ film.title }}
                </option>
              </select>
            </div>
        </form>
    </div>

    <div class="search__results">
      <div class="search__results__cards" *ngIf="isLoaded$ | async">
          
          <div *ngIf="!(results$| async).length; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>No results </ng-template>
          <ng-template #elseBlock>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let result of results$ | async">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ result.name }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    {{ result | json }}
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
          </ng-template>
      </div>
    </div>
</div>
