<div class="search">
    <div *ngIf="loading$ | async" class="search__loader">
        <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner>
    </div>

    <div class="search__header">
        <input 
          id="search-term" 
          type="text" 
          placeholder="Enter phrase/title/name" 
          (change)="searchValueChanged(searchTerm)"
          [(ngModel)]="searchTerm"
          />
    </div>
    
    <mat-radio-group (change)="onChangeFilter($event)">
        <mat-radio-button value="people" checked>People</mat-radio-button>
        <mat-radio-button value="starships">Starships</mat-radio-button>
    </mat-radio-group> 

    <div class="search__results">
      <div class="search__results__cards" *ngIf="isLoaded$ | async">
          
          <div *ngIf="!(results$| async).length; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>No results </ng-template>
          <ng-template #elseBlock>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let result of results$ | async">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ result.name }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    {{ result | json }}
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
          </ng-template>
      </div>
    </div>
</div>
